.tickets__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tickets__item {
    margin-top: 20px;
}

.tickets__item:first-of-type {
    margin-top: 0;
}

.ticket {
    display: flex;

}

.ticket:hover {    
    box-shadow: 0px 5px 25px -1px rgba(91,137,164,0.15);
}

.ticket__left-col,
.ticket__right-col {
    padding: 20px;
}

.ticket__left-col {
    flex: 0 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ddd;
}

.ticket__carrier-logo {
    object-fit: contain;
}

.ticket__buy-button {
    width: 100%;
    width: 100%;
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    background: rgb(255, 136, 0);

    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;

}

.ticket__carrier-logo + .ticket__buy-button {
    margin-top: 20px;
}

.ticket__buy-button:hover {
    /* background: rgb(230, 122, 0); */
    box-shadow: inset 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-color: rgb(228, 121, 0);
}

.ticket__right-col {
    flex: 1 0 auto;
}

.ticket__time,
.ticket__cities,
.ticket__date {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ticket__time {
    color: #4a4a4a;
    font-size: 32px;
}

.ticket__time-departure {
    margin-right: 30px;
}

.ticket__time-arrival {
    margin-left: 30px;
}

.ticket__stops {
    border-bottom: 1px solid #ddd;
    margin-right: 10px;

    flex: 1;

    text-align: center;
    padding-bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;

    position: relative;

    user-select: none;
}

.ticket__stops::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(100%, 50%);
    
    
    background: url(../../Content/images/airplane--small.png) center no-repeat;
    background-size: contain;
    
    width: 13px;    
    height: 13px;
}