body {
    font-family: 'Open Sans',Roboto, 'Helvetica Neue', sans-serif;
    max-width: 1020px;
    padding: 0 50px;
    margin: 0 auto;
    
}

ul {
    padding-left: 20px;
    margin-bottom: 20px;
}


.content-wrapper {
    display: flex;
    align-items: flex-start;
}

.box {    
    color: #4a4a4a;
    font-family: "Open Sans";
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(91,137,164,0.25);

    border: 1px solid #ddd;
    border-radius: 5px;
}

.filters {
    flex: 1 0 200px;
    margin-right: 20px;
}

.tickets{
    flex: 4 0 auto;
}







footer {
    margin-top: 30px;
    color : #444;
    border-top: 1px solid #ccc;
    padding: 10px 50px 70px;

}